{% extends "base.html" %}
{%block title%}HireMeNow{% endblock%}
{% block body %}
<div class="row featurette my-3 mx-3">
  <div class="col-md-7 order-md-2 ">
    <h1 class="featurette-heading fw-normal lh-1" style="font-size: 70px;">Online Resume Builder.</h1>
    <p class="lead" style="padding-top:20px;font-size: 20px;">Easily create a resume for any job using our best-in-class resume builder platform.
    </p>
    <a class="btn" href="build-resume" style="width: 300px; border-radius:8px;background-color:#DDA853;font-size:20px;font-weight:bold;margin: 70px auto 10px auto;">
    Create Resume
    </a>
  </div>
  <div class="col-md-5 order-md-1">
    <img src="static/image/builder.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500px" height="500px">
  </div>
</div>
{% endblock %}